<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01">
        <div class="text-content">
          <h4> Welcome to HRHub HRM Portal !</h4>
          <h2>Welcome aboard! Discover how our HRM portal can streamline your employee experience, from onboarding to performance management and beyond.</h2>
        </div>
      </div>
      <div class="banner-item-02">
        <div class="text-content">
          <h4>Seamless Onboarding </h4>
          <h2>Get started on the right foot with our seamless onboarding process. From paperwork to training, we've got you covered every step of the way.</h2>
        </div>
      </div>
      <div class="banner-item-03">
        <div class="text-content">
          <h4>Performance & Development</h4>
          <h2>Grow with us! Receive regular feedback, set goals, and access development opportunities to reach your full potential.</h2>
        </div>
      </div>
    </div>
</div>
<!-- Banner Ends Here -->

<!-- About Starts Here -->
<div class="best-features">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="left-content">
            <h2>About Us</h2>
            <p>Welcome to JobSpring, where we're revolutionizing the way organizations manage employee registrations. Our platform is designed to streamline the onboarding process, making it easier and more efficient for both administrators and employees. With our intuitive interface and customizable forms, you can say goodbye to paperwork and hello to productivity. </p>
            <ul class="featured-list">
              <li>Streamline the onboarding process with our intuitive platform, saving time and resources for your organization.</li>
              <li>Our dedicated support team is here to help every step of the way, providing personalized assistance whenever you need it.</li>
              <li> Our platform is accessible anytime, anywhere, allowing employees to complete their registration from any device with an internet connection.</li>
            </ul>
            <a href="/about-us" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="assets/images/about.webp" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
</div>
<!-- About Ends Here -->

<div class="services" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(assets/images/other-image-fullscren-1-1920x900.jpg);" >
      <div class="container">
        <div class="row">

          <h2 class="mb-4 text-white">Our HRM Services</h2>

          <div class="col-lg-3 col-md-6">
            <div class="service-item">

              <div class="down-content">
                <h4>Employee Onboarding</h4>

                <p style="margin: 0;"> Seamless integration into our company culture begins with a comprehensive onboarding process. Our portal guides new hires through paperwork, training modules, and introduction to company policies, ensuring a smooth transition into their roles.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="service-item">


              <div class="down-content">
                <h4>Time and Attendance</h4>

                <p style="margin: 0;">Our time and attendance management system simplifies tracking and managing employee work hours, facilitating accurate payroll processing and compliance with labor regulations.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="service-item">

              <div class="down-content">
                <h4>Leave Management</h4>

                <p style="margin: 0;">Managing employee leave requests has never been easier. Our portal allows employees to submit leave requests, track their balances, and receive timely approvals, ensuring operational continuity while maintaining work-life balance.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="service-item">

              <div class="down-content">
                <h4>Employee Benefits</h4>

                <p style="margin: 0;">We understand the importance of employee well-being. Our portal provides comprehensive information on benefits packages, including healthcare, retirement plans, and additional perks, empowering employees to make informed decisions about their benefits.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
</div>


<div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-12">
                <h4>Employee Resources</h4>
                <p>In addition to HRM services, our portal serves as a centralized hub for employees to access company policies, procedures, and other relevant resources. From employee handbooks to FAQs, we aim to provide the information necessary for employees to navigate their professional journey with confidence.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
