<div class="page-heading about-heading header-text" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(assets/images/heading-1-1920x500.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h2>our team</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="best-features about-features">
    <div class="container mb-5">
      <div class="row">
        
        
        <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
          <div class="left-content ">
            <div class="right-image">
                <img src="assets/images/team-1.jpg" alt="">
              </div>
              <h4 class="my-2 text-center">Ajay Kumar</h4>
            <ul class="social-icons my-3 text-center">
              <li><a href="https://github.com/ajaypanwar7472"><i class="fa fa-github"></i></a></li>
              <li><a href="mailto:ajaypanwar7472@gmail.com"><i class="fa fa-envelope"></i></a></li>
              <li><a href="https://www.linkedin.com/in/ajay-panwar-8077b925a/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
            <div class="left-content ">
              <div class="right-image">
                  <img src="assets/images/team2.png" alt="">
                </div>
                <h4 class="my-2 text-center">Keerti Vishwkarma</h4>
              <ul class="social-icons my-3 text-center">
                <li><a href="https://github.com/keerti1924"><i class="fa fa-github"></i></a></li>
                <li><a href="mailto:keertidvcorai@gmail.com"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/in/keerti-vishwkarma-8ba754243/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
  
      </div>
    </div>
  </div>
  
  